@font-face {
  font-family: Instrument Sans;
  font-weight: 400;
  src: url('/fonts/InstrumentSans-Regular.ttf') format('opentype');
}

@font-face {
  font-family: Instrument Sans;
  font-weight: 500;
  src: url('/fonts/InstrumentSans-Medium.ttf') format('opentype');
}

@font-face {
  font-family: Instrument Sans;
  font-weight: 600;
  src: url('/fonts/InstrumentSans-SemiBold.ttf') format('opentype');
}

@font-face {
  font-family: Instrument Sans;
  font-weight: 700;
  src: url('/fonts/InstrumentSans-Bold.ttf') format('opentype');
}


@font-face {
  font-family: 'JetBrains Mono';
  font-weight: 400;
  src: url('/fonts/JetBrainsMono-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'JetBrains Mono';
  font-weight: 500;
  src: url('/fonts/JetBrainsMono-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'JetBrains Mono';
  font-weight: 700;
  src: url('/fonts/JetBrainsMono-Bold.ttf') format('truetype');
}

