$desktop-min-width: 900px;
$padding-mobile: 0px 16px;
$padding-desktop: 56px;
$max-width: 1136px + ($padding-desktop * 2);
$margin-bottom-mobile: 40px;
$margin-bottom-desktop: 72px;

$page-color: #EEF2F7;
$primary-color: #292A2B;
$secondary-color: #4A4F54;
$button-color: #80A1AA;
$white-color: white;
$gray-4: #E0E7EF;