@import "../../shared/index.scss";

.orderPage {
  padding: 0 $padding-mobile $margin-bottom-mobile;

  @include on-desktop {
    padding: 0 $padding-desktop 164px;
  }
}

.line {
  height: 1px;
  background-color: $gray-4;
  margin-bottom: 40px;

  @include on-desktop {
    margin-bottom: 72px;
  }
}

.section:not(:last-child) {
  margin-bottom: 40px;

  @include on-desktop {
    margin-bottom: 64px;
  }
}

.section--carousel {
  @include on-desktop {
    margin-left: -$padding-desktop;
    margin-right: -$padding-desktop;
    padding: 0 $padding-desktop;

    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: auto auto;
    column-gap: 20px;

    .section__title {
      grid-column: 1 / -1;
    }

    .section__products {
      min-width: 0;
      gap: 20px;
      padding-right: 0;
      margin-right: 0;
      align-items: stretch;
    }

    .section__more {
      align-self: center;
    }

    .productCardWrapper {
      width: 230px;
    }
  }
}

.section__more {
  display: none;

  @include on-desktop {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
    cursor: pointer;

    img {
      width: 28px;
      height: 28px;
      padding: 22px;
      background-color: $button-color;
      border-radius: 50%;
      box-sizing: content-box;
    }
  }
}

.spanMore {
  @include on-desktop {
    font-family: "JetBrains Mono", monospace;
    font-size: 20px;
    font-weight: bold;
    color: $primary-color;
  }
}

.section__title {
  font-size: 28px;
  font-weight: bold;
  color: $primary-color;
  margin-bottom: 24px;

  @include on-desktop {
    font-size: 48px;
  }
}

.section__products {
  display: flex;
  gap: 6px;
  overflow-x: auto;
  overflow-y: hidden;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  margin-right: -16px;

  // scrollbar-width: none;
  // -ms-overflow-style: none;

  &::-webkit-scrollbar {
    display: none;
  }

  @include on-desktop {
    // margin-right: -56px;
    padding-right: 56px;
    gap: 20px;
  }
}

.productCardWrapper {
  display: flex;
  flex-direction: column;
  flex: 0 0 auto;
  width: 140px;
  min-height: 0;

  @include on-desktop {
    width: 430px;
  }
}
