@import "../../shared/index.scss";

.footer {
  background-color: $gray-4;

  &__content {
    padding: 48px 16px;

    @include on-desktop {
      padding: 88px 56px;
      // gap: 48px;
    }
  }

  &__logo {
    display: block;
    margin-bottom: 40px;

    img {
      width: 200px;
      height: 58px;

      @include on-desktop {
        height: 298px;
      }
    }
  }

  &__sections {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-bottom: 40px;
  }
  
  &__span {
    font-family: "JetBrains Mono", monospace;
    font-size: 16px;
    font-weight: 500;
    padding-left: 24px;
    margin-bottom: 4px;
  }

  &__title {
    font-size: 24px;
    font-weight: 700;
    color: $primary-color;
    margin-bottom: 4px;

    @include on-desktop {
      font-size: 32px;
      font-weight: 600;
    }
  }

  &__form {
    position: relative;
    // display: flex;
    // width: 100%;
  }

  &__input {
    width: 100%;
    padding: 16px 24px;
    border: 1px solid $primary-color;
    border-radius: 999px;
    font-size: 12px;
    font-weight: 300;
    font-family: "JetBrains Mono", monospace;
    background-color: $gray-4;
    outline: none;

    &::placeholder {
      color: $secondary-color;
      font-style: italic;
    }
  }

  &__sendButton {
    position: absolute;
    right: 8px;
    cursor: pointer;
    padding: 12px;

    img {
      width: 24px;
      height: 24px;
    }
  }

  &__socials {
    display: flex;
    gap: 4px;
  }

  &__socialLink {
    padding: 12px;

    img {
      width: 24px;
      height: 24px;
    }
  }

  &__email {
    font-family: "JetBrains Mono", monospace;
    font-size: 16px;
    color: $secondary-color;
  }

  &__partners {
    display: flex;
    flex-direction: column;
    gap: 16px;

    @include on-desktop {
      gap: 24px;
    }
  }

  &__partnerTitle {
    font-size: 32px;
    font-weight: bold;
    color: $primary-color;
    margin: 0;
    line-height: 1.2;
  }

  &__partnerImg {
    display: flex;
    flex-direction: column;
    gap: 21px;
    //max-width: 288px;
  }

  &__partnerRow {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 21px;
  }

  &__partnerLogo {
    flex: 0 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      display: block;
    }
  }
}
