@import '../../shared/index.scss';

.mainContainer {
    margin-bottom: $margin-bottom-mobile;

    @include on-desktop {
    margin-bottom: $margin-bottom-desktop;
    }
}

.line {
    height: 1px;
    background-color: $gray-4;
    margin-bottom: 40px;

    @include on-desktop {
    margin-bottom: 72px;
    }
}