@import "../src/shared/index.scss";

.App {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    max-width: 700px;
    margin: 0 auto;

    @include on-desktop {
      max-width: 1200px;
    }
}

.App__main {
    flex: 1;
}